prophet
plotly
streamlit
streamlit_option_menu
datetime
pandas
numpy
yfinance
matplotlib
numpy
ta
pygwalker
scikit-learn
xgboost
streamlit_lottie
prophet
pylottie
tensorflow
keras
IPython
streamlit-card
streamlit-login-auth-ui
argon2-cffi
argon2-cffi-bindings
